# Librerías para manipulación y analisis de datos
numpy
pandas
geopandas
shapely
matplotlib
scikit-learn

# Redes neuronales y aprendizaje automático
torch
torch_geometric
optuna

# Analisis de grafos
networkx
py2neo
